.built{
    h1{
        text-align: center;
        font-size: 60px;
        font-family: 'Times New Roman', Times, serif;
        font-weight: 600;
        margin-top: 90px;
    }
    img{
        cursor: pointer;
    }
}