.main-btn{
    width: 177px;
    height: 56px;
    background-color: #283337;
    color: #fff;
    border-radius: 56px;
    border: none;
}
main{
    margin-top: 50px;
}
.first-half{
    h1{
        font-family: 'Times New Roman', Times, serif;
        font-size: 60px;
        margin-bottom: 25px;
    }
    p{
        font-family: Arial, Helvetica, sans-serif;
        margin-bottom: 25px;
    }
}


@media only screen and (max-width: 999px){
    main{
        img{
            width: 98%;
        }
    }
    .first-half h1{
        font-size: 40px;
    }
}